<h1>Signin</h1>
<div class = "row">
	<div class = "span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>
			<%= f.label :username %>
			<%= f.text_field :username %>
			<%= f.label :password %>
			<%= f.password_field :password %>
			<p>
				<%= f.submit "Signin", class: "btn btn-large btn-primary" %>
			</p>
		<% end -%>
		<p>
			New here? <%= link_to "Signup now!", signup_path %>
		</p>
	</div>
</div>

